/** General site styles ***********************/

a {
    text-decoration: none;
}

/***** Recipes  ******************************/

.card-image-top {
    opacity: 50%;
}

.fav {
    color: coral;
}

.not-fav {
    color: white;
}

#heart {
    text-decoration: none;
    padding: 0 .25rem;
    position: absolute;
    top: 0;
    right: 0;
}

#heart:hover {
    color: chocolate;
}

.oi-book {
    padding-left: .5rem;
}


/** Users **************************************/

#profile-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid grey;
}


/** Lists *************************************/

#list-image {
    height: 360px;
    margin-top: 0px;
    opacity: 0.7;
    background-size: cover;
    background-position: center;
}

#list-header {
    padding: 10px;
    color: black;
}

.list-recipes {
    list-style: none;
}

.list-thumb {
    width: 10rem;
}

button.badge {
    border: none;
}

/** Forms *************************************/
