/** General site styles ***********************/

a {
    text-decoration: none;
}

.nav-icon {
    font-size: large;
}

/**** Navbar *********************************/

.navbar-brand {
    padding-left: 1.5rem;
}

.navbar-brand:hover {
    opacity: .8;
}

.navbar-search {
    padding-right: 1.5rem;
}

/***** Recipes  ******************************/

.recipes-image {
    opacity: .9;
}

.recipes-image:hover {
    opacity: .8;
}

.card-title:hover {
    opacity: .9;
}

.fav {
    color: coral;
}

.not-fav {
    color: white;
}

.bi-heart-fill:hover {
    color: chocolate;
}

#heart {
    text-decoration: none;
    padding: 0 .25rem;
    position: absolute;
    top: 0;
    right: 0;
}

.lists-btn {
    position: absolute;
    top: 0;
    left: 0;
}

.bi-bookmark-plus-fill {
    color: black;
}

.bi-bookmark-plus-fill:hover {
    color: white;
}

.save-btn:hover {
    opacity: .8;
}

.convert {
    font-size: smaller;
    margin: .75rem 0;
}




/** Users **************************************/

#profile-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid grey;
}


/** Lists *************************************/

#list-header, #recipe-header {
    height: 360px;
    margin-top: 0px;
    background-size: cover;
    background-position: center;
}

#list-image, #recipe-image {
    opacity: 0.8;
}

#list-heading, #recipe-heading {
    padding: 0 10px 10px 10px;
    color: black;
}

.list-recipes {
    list-style: none;
}

.list-thumb {
    width: 10rem;
}

button.badge {
    border: none;
}

/** Forms *************************************/
