/** General site styles ***********************/

body {
    margin-bottom: 5rem;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: .8;
}

.nav-icon {
    font-size: large;
}

/**** Navbar *********************************/

.navbar-brand {
    padding-left: 1.5rem;
}

.navbar-brand:hover {
    opacity: .8;
}

.navbar-search {
    padding-right: 1.5rem;
}

/***** Recipes  ******************************/

.recipes-image {
    opacity: .9;
}

.recipes-image:hover {
    opacity: .8;
}


.bi-heart-fill {
    padding: 0 .25rem;
}

.fav, .fav:focus {
    color: coral;
}

.not-fav, .not-fav:focus {
    color: white;
}

.bi-heart-fill:hover {
    color: chocolate;
}

.likes-count {
    position: absolute;
    right: .5em;
    top: 2em;
    font-size: .75em;
    z-index: 1;
    font-weight: bolder;
    color: white;
}



#heart {
    text-decoration: none;
    padding: 0 .25rem;
    position: absolute;
    top: 0;
    right: 0;
}

.lists-btn {
    position: absolute;
    top: 0;
    left: 0;
}

.bi-bookmark-plus-fill {
    color: black;
}

.bi-bookmark-plus-fill:hover {
    color: white;
}

.save-btn:hover {
    opacity: .8;
}

.convert {
    font-size: smaller;
    margin: .75rem 0;
}

/*** Lists ***********************************/

#show-more {
    background-color: black;
    color: white;
}

#show-more:hover {
    opacity: .8;
}

.bottom-trash {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.5rem 0 1.25rem 1rem;
    z-index: 1;
}

.top-trash {
    position: absolute;
    top: 0;
    right: 0;
    padding:.25rem;
    z-index: 1;
}



/** Users **************************************/

#profile-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid grey;
}

#edit-profile {
    position: absolute;
    bottom: 1;
    left: 1;
}


/** Lists *************************************/

#list-header, #recipe-header {
    height: 360px;
    margin-top: 0px;
    background-size: cover;
    background-position: center;
}

#list-image, #recipe-image {
    opacity: 0.8;
}

#list-heading, #recipe-heading {
    padding: 0 10px 10px 10px;
    color: black;
}

.list-recipes {
    list-style: none;
}

.list-thumb {
    width: 10rem;
}

button.badge {
    border: none;
}

/** Forms *************************************/
