{% extends 'base.html' %}

{% block title %}Create New List{% endblock %}

{% block content %}

<div class="row justify-content-center mt-2">
  <div class="col-md-8 col-lg-8">
  <form action="/lists/new" method="POST">
      {{ form.csrf_token }}
      {{ form.request_referrer(value=back)}}
      {% for field in form if field.widget.input_type != 'hidden' and field.name != 'private' %}
      {{ field.label }}
      {{ field(class="form-control")}}
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
  {% endfor %}
  <div class="row mt-3">
    <div class="col-auto">
      <div class="form-check form-switch">
        {{ form.private(class="form-check-input", type="checkbox", role="switch", id="flexSwitchCheckDefault")}}
        {{ form.private.label(class="form-check-label", for="flexSwitchCheckDefault")}}
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-auto">
      <button class="btn btn-sm btn-dark" type="submit">ADD LIST</button>
    </div>
  </div>
  </form>
  </div>
</div>

{% endblock %}