{% extends 'recipes/recipes.html' %}

{% block title %}Base List Template{% endblock %}

{% block content %}

{% block users_lists %}
{% endblock %}

{% block all_lists %}
{% endblock %}

{% block show_lists %}

<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 justify-content-evenly">
    {% for list in lists %}
  <div class="col-sm-12 col-md-6 col-lg-3 card-deck mb-3">
    <div class="card list-card" id="{{ list.id }}">
      <a href="{{ url_for('show_list', id=list.id) }}">
        <img src="{{ list.image_url }}" class="card-img-top" alt="recipe list image">
        </a>
        <div class="card-body pb-1">
          <div class="mb-1">
            <div>
              <a class="card-title fs-6 lead fw-bolder text-uppercase text-dark" href="{{ url_for('show_list', id=list.id) }}">{{ list.name }}</a>
              {% if g.user and g.user.id == list.user.id %}
                <a class="text-dark small" href="{{ url_for('edit_list', id=list.id)}}"><i class="bi bi-pencil"></i></a>
              {% endif %}
            </div>
            {% if list.description %}
            <p class="card-text">{{ list.description }}</p>
            {% endif %}
            <a href="{{ url_for('show_user', id=list.user.id) }}">
              <img src="{{ list.user.image_url }}" alt="image for {{ list.user.username }}" style="width: 1.5rem; border-radius: 100%;">
              <small class="text-dark btn-link ps-1">{{ list.user.username }}</small></a>
            {% if g.user %}
              {% if g.user.id == list.user_id %}
              <form class="delete-list" method="POST">
                <button id="trash" data-id="{{ list.id }}" class="top-trash btn btn-link text-danger bi bi-trash"></button>
              </form>
              {% endif %}
            {% endif %}
          </div>
          <div class="mt-2 mb-1">
            {% for tag in list.top_tags() %}
            <small class="badge bg-light text-dark text-uppercase fw-light">{{ tag }}</small>
            {% endfor %}
          </div>
        </div>
        {% if not recipe %}
        <ul class="list-group list-group-flush">
          {% for recipe in list.recipes[0:3] %}
          <li class="list-group-item"><a href="{{ url_for('recipe_info', id=recipe.id) }}" class="text-dark">{{ recipe.title }}</a></li>
          {% endfor %}
        </ul>
        {% if list.recipes| length > 3 %}
        <ul id="hidden-recipes-{{ list.id }}" class="list-group list-group-flush d-none border-top-0">
            {% for recipe in list.recipes[2:-1] %}
            <li class="list-group-item"><a href="{{ url_for('recipe_info', id=recipe.id) }}" class="text-dark">{{ recipe.title }}</a></li>
            {% endfor %}
        </ul>
        <div id="show-more" class="card-footer text-center bi bi-plus-lg"></div>
        {% endif %}
        {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
{% endblock %}