{% extends 'base.html' %}

{% block title %}Show Single List{% endblock %}

{% block content %}

<div id="list-image" class="full-width w-100 overflow-hidden position-relative mb-3"><img src="{{ list.image_url}}" alt="image for {{ list.name }}" class="vw-100">
    <div id="list-header" class="position-absolute bottom-0">
        <h2>{{ list.name }}</h2>
        <p>{{ list.description }}</p>
        <button class="btn btn-sm btn-link-danger p-0"><a href="{{ url_for('delete_list', id=list.id) }}">Delete list</a></button>
    </div>
</div>

<div class="row row-col-4">
{% for recipe in list.recipes %}
  <div class="col-sm-3 card-deck mb-3" id="{{ recipe.id }}">
  <div class="card recipe-card">
      <img class="card-img-top" src="{{ recipe.image_url }}" alt="Card image cap">
      <div class="card-body">
        <a href="{{ url_for('recipe_info', id=recipe.id) }}"><h5 class="card-title">{{ recipe.title }}</h5></a>
        <p>
          <span class="badge rounded-pill bg-success">{{ recipe.score }}%</span>
            {% for tag in recipe.tags %}
            <span class="badge bg-light text-dark">{{ tag }}</span>
            {% endfor %}
        </p>
        <p>{{ recipe.summary[0:50] }}...</p>
        {% if g.user %}
            <div class="row-col-3">
                <form class="recipe-form" method="POST">
                    <button id="trash" data-recipe="{{ recipe.id }}" data-list="{{ list.id }}" class="btn btn-link text-danger bi bi-trash"></button>

                    <button id="heart" class="btn btn-md btn-link bi
                      {{'bi-heart-fill' if recipe in g.user.favorites else 'bi-heart'}}" data-id="{{ recipe.id }}">
                    {% if recipe.favorites %}
                        {{ recipe.favs() }}
                    {% endif %}
                    </button>
  
                    <div class="btn-group" class="lists-btn">
                        <button type="button" class="btn btn-link btn-sm text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><span class="oi oi-plus"></span>
                        </button>
                        <ul class="dropdown-menu">
                        {% for list in g.user.lists %}
                            {% if not list.has_recipe(recipe.id) %}
                            <li data-list="{{ list.id }}" data-recipe="{{ recipe.id }}" class="dropdown-item">
                              {{ list.name }}
                            </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </form>
            </div>
            {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}