{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-8">
      <h2 class="join-message">It's ok to be picky.</h2>

      <form method="POST" action="{{ url_for('detailed_search') }}">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}

            {% if field.type == 'StringField' %}
            <!-- <div class="form-floating mb-3"> -->
                {{ field(placeholder="Search", class="form-control") }}
            <!-- </div> -->

            {% else %}
            {{ field.label(class="invisible") }}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endif %}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-md mt-3">Search</button>
      </form>
    </div>
  </div>

{% endblock %}