{% extends 'base.html' %}

{% block content %}

<!-- accordian -->
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7">
      <h2 class="join-message">It's ok to be picky.</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}

        {% if field.type == 'StringField' %}
            <div class="form-floating mb-3">
            {{ field.label }}
            {{ field(placeholder=field.label.text, class="form-control") }}
            </div>

        {% elif field.type == 'SelectField' %}
        <select class="form-select" aria-label="{{ field.label }}">
            <option selected>{{ field.label }}</option>
            {% for f in field.choices %}
            <option>{{ f }}</option>
            {% endfor %}
        </select>

        {% else %}

        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        {{ field.label }}
                    </button>
                </h2>
             <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        {% for choice in field.choices %}
                            <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
                            <label class="btn btn-outline-primary" for="{{ choice }}">{{ choice }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <button class="btn btn-primary btn-block btn-lg">Search</button>
</form>
</div>
</div>

{% endblock %}

<!-- SELECT FIELD  -->

{% elif field.type == 'SelectField' %}
            <select class="form-select" aria-label="{{ field.label }}">
                {{ field.label(class="hidden") }}
                <option selected>{{ field.label }}</option>
                {% for f in field.choices %}
                    <option>{{ f }}</option>
                {% endfor %}
            </select>


<!-- FROM RECIPE INFO BUTTON  -->

<!-- <div class="btn-group">
    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Add to List
    </button>
    <ul class="dropdown-menu">
    {% for list in g.user.lists %}
    <li><a class="dropdown-item" href="{{ url_for('add_to_list', r_id=recipe.id, l_id=list.id)}}">{{ list.name }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %} -->