{% extends 'base.html' %}
{% block title %}Show Recipe Information{% endblock %}

{% block content %}

<div id="recipe-header" class="full-width w-100 overflow-hidden position-relative mb-3"><img src="{{ recipe.image_url}}" alt="image for {{ recipe.title }}" class="vw-100" id="recipe-image">
    <div id="recipe-heading" class="position-absolute bottom-0">
        <h2>{{ recipe.title }}</h2>
        {% if g.user %}
        <form method="POST" class="recipe-form">
            <button class="btn btn-lg btn-link bi bi-heart-fill
                  {{'fav' if recipe in g.user.favorites else 'not-fav'}}" data-id="{{ recipe.id }}">
                <!-- {% if recipe.favorites %} -->
                    <!-- <span class="fav-count">{{ recipe.favs() }}</span> -->
                <!-- {% endif %} -->
            </button>
        <div class="btn-group" class="lists-btn">
            <button type="button" class="btn btn-secondary btn-sm text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Save <span class="oi oi-book"></span>
            </button>

            <ul class="dropdown-menu">
            {% for list in g.user.lists %}
            {% if not list.has_recipe(recipe.id) %}
                <li data-list="{{ list.id }}" data-recipe="{{ recipe.id }}" class="dropdown-item">
                    {{ list.name }}
                </li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
        </form>
        {% endif %}
    </div>
</div>

<p>
{% if recipe.score %}
    <span class="badge rounded-pill bg-success">{{ recipe.score }}%</span>
{% endif %}
{% if recipe.tags %}
    {% for tag in recipe.tags %}
        <span class="badge bg-light text-dark">{{ tag }}</span>
    {% endfor %}
{% endif %}
</p>
{% if recipe.source_url %}
    <p><a href="{{ recipe.source_url }}">{{ recipe.source }}</a></p>
{% endif %}
{% if recipe.summary %}
    <p>{{ recipe.summary }}</p>
{% endif %}

<div class="row row-cols-2">
    <div class="col">
    {% if recipe.ingredients %}
    <h5>Ingredients</h5>
        {% for i in recipe.us %}
        <p>{{ i }}</p>
        {% endfor %}
    {% endif %}
    </div>
    <div class="col">
    {% if recipe.instructions %}
    <h5>Instructions</h5>
        <ol>
            {% for i in recipe.instructions.split(".") %}
            {% if i| length > 1 %}
                <li>{{ i }}</li>
            {% endif %}
            {% endfor %}
        </ol>
    {% endif %}
    </div>
</div>
    
{% endblock %}