{% extends 'base.html' %}
{% block title %}Show Recipe Information{% endblock %}

{% block content %}


<div class="row row-cols-auto mt-3">
    <div class="col">
    <h3>{{ recipe.title }}</h3>
    </div>

    <div class="col">
        {% if g.user %}

        <div class="row">
            <form method="POST" class="add-recipe">
                <button class="btn btn-lg btn-link heart p-0">
                <span class="oi oi-heart 
                {{'fav' if recipe in g.user.favorites else 'btn-link'}}" data-id="{{ recipe.id }}"></span>
                {% if recipe.favorites %}
                    <span class="fw-lighter fs-6">{{ recipe.favs() }}</span>
                {% endif %}
                </button>
            <div class="btn-group" class="lists-btn">
                <button type="button" class="btn btn-link btn-md text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><span class="oi oi-plus"></span>
                </button>
    
                <ul class="dropdown-menu">
                {% for list in g.user.lists %}
                {% if not list.has_recipe(recipe.id) %}
                    <li data-list="{{ list.id }}" data-recipe="{{ recipe.id }}" class="dropdown-item">
                        {{ list.name }}
                    </li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
<p>
    <span class="badge rounded-pill bg-success">{{ recipe.score }}%</span>
{% for tag in recipe.tags %}
    <span class="badge bg-light text-dark">{{ tag }}</span>
{% endfor %}
</p>

    <p><a href="{{ recipe.source_url }}">{{ recipe.source }}</a></p>
    <p>{{ recipe.summary }}</p>
    <p>{{ recipe.summary_long }}</p>
    <p>{{ recipe.instructions }}</p>
    <ol>
        {% for i in recipe.instructions.split(".") %}
            <li>{{ i }}</li>
        {% endfor %}
    </ol>
    {% for i in recipe.metric %}
    <p>{{ i }}</p>
    {% endfor %}

    <p>{{ recipe.ingredients }}</p>
    <p>{{ recipe.us }}</p>
    <p>{{ recipe.metric }}</p>
    
{% endblock %}